@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Amaranth', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #DEE4EB;
}

.display {
  @apply w-full max-w-screen-sm mx-auto p-2 text-base tablet:text-lg;
}

.disabled-button {
  filter: grayscale(1);
  opacity: .5;
  cursor: default;
}

.enabled-button:hover {
  filter: brightness(1.05);
}

.button {
  @apply rounded-md p-4 my-4 w-full bg-primary transition-all; /* TODO: customize */
}

.input-style {
  @apply bg-text text-primary px-1 rounded-md;
}

input {
  accent-color: #1E5F74;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*:focus, *:active{
  outline-color: #1E5F74;
  outline-width: 2px;
}

.custom-table-cell {
  @apply bg-primary py-1 px-1.5 box-border mx-0 h-full;
}

.custom-table-left-side {
  border-radius: 4px 0 0 4px;
}

.custom-table-left-column {
  border-right: 3px solid #164655;
}
.custom-table-center-column {
  border-right: 3px solid #164655;
  border-left: 2px solid #1E5F74;
}
.custom-table-right-column {
  border-left: 2px solid #1E5F74;
}

.custom-table-right-side {
  border-radius: 0 4px 4px 0;
}

.custom-table-top-cell {
  border-top: 2px solid #303841;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  -webkit-tap-highlight-color: transparent;
}
